* {
    box-sizing: border-box;
}

body {
    background-color: #d8eee6;
    height: 100%;
}

#invitation-form-group {
    display: none;
}

#regenerate-btn, #copy-btn, #reset-btn {
    display: none;
}